#container {
    width: 480px;
    height: 480px;
}

.layer {
    width: 480px;
    height: 480px;
    position:absolute;
    display:none;
}

#menu {
    height:280px;
    padding-top:200px;
    text-align:center;
    background:url(images/menu.gif);
}

#menu p {
    margin: 10px;
    font-size: 24px;
    font-weight:bold;
}

#menu p:hover {
    cursor: default;
    color:orange;
}

#loadingScreen {
    background: #404040;
}

#loadingMessage {
    margin-top:400px;
    text-align:center;
    height:48px;
    color:white;
    background:url(images/loader.gif) no-repeat center;
    font:12px Arial;
}

#gameScreen canvas {
    height:480px;
    width:480px;
    position:absolute;
}

#gameScreen #foregroundCanvas {
    z-index:1;
}

#gameScreen #backgroundCanvas {
    z-index:0;
}

#statusbar {
    width:480px;
    background: none repeat scroll 0% 0% #404040;
    position:absolute;
    top:480px;
    z-index:9999;
}

#statuslist {
    list-style-type:none;
    margin:0px;
    padding:0px;
}

#statuslist li {
    display:inline-block;
    color:white;
    vertical-align:middle;
    text-decoration:none;
}

#statuslist li:last-child {
    float:right;
    padding-right:5px;
}

.statusbar-text {
    display:block;
    margin:0;
    padding: 0px 15px;
}

#turndisplay {
    padding-left:5px;
}

#end-turn {
    cursor:pointer;
}

#setupScreen {
    background:url(images/menu.gif);
}

#setupScreen table {
    color:white;
    border-collapse:collapse;
    background-color:rgba(30,30,30,0.7);
    margin-right:auto;
    margin-left:auto;
    margin-top:230px;
}

#setupScreen #startGame {
    padding:10px;
    border: 1px solid black;
    color:white;
    background-color:rgba(30,30,30,0.7);
    display:block;
    margin:10px auto;
}

#setupScreen table td, table th {
    padding:5px;
}
