#container {
    width: 480px
    height: 480px;
}

.layer {
    width: 480px;
    height: 480px;
    position: absolute;
    display: none;
}

#menu {
    text-align: center;
    padding-top: 180px;
    background: #404040;
}

#menu p {
    margin: 10px;
    font-size: 24px;
}

#menu p:hover {
    border: 1px solid black;
    cursor: default;
}

#loadingScreen {
    background: #404040;
}

#loadingMessage {
    margin-top:400px;
    text-align:center;
    height:48px;
    color:white;
    background:url(images/loader.gif) no-repeat center;
    font:12px Arial;
}

#gameScreen canvas {
    height: 480px;
    width: 480px;
}

#gameScreen #backgroundCanvas {
    z-index: 0;
}

#gameScreen #foregroundCanvas {
    z-index: 1;
}
